.widget {
  text-align: center;
  width:15.6%;
  padding: 2%;
  cursor: pointer;
  
  background: #fff;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  
  .left,.right {
    display: flex;
    flex-direction: column;
  
    .title {
      font-weight: bold;
      font-size: 15px;
      opacity: 0.5; 
      
    }
    

    .counter {
      font-size: 28px;
      font-weight: bold;
    }
  
  }
  &:hover{
    
    color: blue;
    outline: 1px solid blue;
   
  }
  
}
