.tabdevice{
  
 
  
  
    border-radius: 10px;
    
    margin-right: 2%;
    .namestore{
      display: flex;
      gap: 10%;
    .iconfact{
      cursor: pointer;
      color: rgb(74, 72, 72);
    }}
    .radio{
      margin-right: 3%;    }
  
    .circle {
        &.non { 
          visibility: hidden;
        }
        &.oui {
          
          visibility: visible;
          
        }
  }
  
  .reguliere {
   
    border-radius: 4px;
    font-size: 80%;
    font-weight: bold;
    color: white;
    &.regular { 
      background: #29CC97;
      padding: 1% 3% 1% 2%;
      height: 2%;
      
    }
    &.NonReg {
      background: #FEC400;
      padding: 1% 2% 1% 2%;
      height: 2%;
    }
    &.Online { 
      background: #29CC97;
      padding: 1% 2% 1% 2%;
      height: 2%;
    }
    &.Offline {
      background: #FEC400;
      padding: 1% 2% 1% 2%;
      height: 2%;
    }
    
  }
  img{
    padding-right: 2%;
  }
  .line{
    display: flex;
    justify-content: flex-end;
    gap: 5%;
  .icons{
    display: flex;
    gap: 3%;
    &.non { 
      visibility: hidden;
    }
    &.oui {
      
      visibility: visible;
      
    }
    .lik{
      &.oui {
        visibility: visible;
      }
      &.non {
        visibility: hidden;
      }
    }
   
    .material-icons{
      cursor: pointer;
      color: rgb(74, 72, 72);
      &.oui {
        visibility: visible;
      }
      &.non {
        visibility: hidden;
      }
    }
  }
}
.popeditfleet{
  z-index: 1;
}
  }