.tableMap {
.radio{
  margin-right: 3%;
}
  
    .status {
      border-radius: 4px;
  
      font-size: 80%;
      font-weight: bold;
      margin-left: 3%;
    
      color: white;
      &.Online {
        background: #29CC97;
      padding: 1% 10% 1%;
      }
      &.Offline {
        background: #FEC400;
      
      padding: 1% 10% 1%;
      }
      &.REG {
        padding: 3% 30% 3% 30%;
        background: #29CC97;
      }
      &.NonREG {
        background: #FEC400;
        padding: 3% 15% 3% 15%;
      }
    }
    
   
  }
  
  input{
    border: none;
    outline:none; 
   }