.tableMap {
.radio{
  margin-right: 3%;
}
  
    .status {
      border-radius: 4px;
  
      font-size: 80%;
      font-weight: bold;
     
    
      color: white;
      &.Online {
        background: #29CC97;
      padding: 2% 10% 1%;
      }
      &.Offline {
        background: #FEC400;
      
      padding: 1% 10% 1%;
      }
      &.regular {
        padding: 1% 10% 1% 10%;
        background: #29CC97;
      }
      &.NonReg {


        background: #FEC400;
        padding: 1% 7% 0% 7%;
      }
    }
    
   
  }
  
  input{
    border: none;
    outline:none; 
   }