
.devicemain{
  display: flex;
  gap: 2%;
.device{
  display: flex;
  flex-direction: column;
  flex: 3;
    
      
.headdevice{
  display: flex;
  gap: 40%;
  padding-bottom: 1%;
  
.titledevice{
    display: flex;
    gap: 10%;
    font-weight:bold;
    color: black;
    
    font-size: 122%;
    input[type=Search]{
      height:30px;
      
      padding-right: 30%;
      border-radius: 5px;
      background: #c3cad2;
    }
    
      
      .input-icone{
        display: flex;
      position:relative; }
      .input-icone i{
      position:absolute; 
      left: 108%; 
      
      padding:4px 8px; 
      color:#838481; }
  
      input[type=Search]:hover {
      background: #f2f2f2; }
    
   .material-icons{
     
     font-size: 120%;
   }
    }
    .buttonfleet{
      display: flex;
      gap: 60%;
    .del{
      display: flex;
      font-size: 100%;
      color: #fff;
      padding: 0.5% 7% 0.5% 3%;
      background: #FF7A7A;
      border-radius: 5px;
      border: none;
      align-items: center;
    }
    .addfleet{
      display: flex;
      gap: 5%;
      font-size: 100%;
      color: #fff;
      padding: 0.5% 10% 0.5% 10%;
      background: #3d2db9;
      border-radius: 5px;
      border: none;
      align-items: center;
      
    
    }
  }
  }


}
}

 
  

