
.devicemain{
  display: flex;
  gap: 2%;
.device{
  display: flex;
  flex-direction: column;
  flex: 3;
    
      
.headdevice{
  display: flex;
  gap: 60%;
      padding-bottom: 1%;
  
.titledevice{
    display: flex;
    gap: 10%;
    font-weight:bold;
    color: black;
    
    font-size: 122%;
    input[type=Search]{
      height:30px;
      
      padding-right: 30%;
      border-radius: 5px;
      background: #c3cad2;
    }
    
      
      .input-icone{
        display: flex;
      position:relative; }
      .input-icone i{
      position:absolute; 
      left: 108%; 
      
      padding:4px 8px; 
      color:#838481; }
  
      input[type=Search]:hover {
      background: #f2f2f2; }
    
   .material-icons{
     
     font-size: 120%;
   }
    }
    .del{
      display: flex;
      font-size: 100%;
      color: #fff;
      padding: 0.5% 1% 0.5%;
      background: #FF7A7A;
      border-radius: 5px;
      border: none;
      align-items: center;
      
    
    }
  }

.tabdevice{
  
 
  
  
  border-radius: 10px;
  
  margin-right: 2%;
  


.reguliere {
   
  border-radius: 4px;
  font-size: 80%;
  font-weight: bold;
  color: white;
  &.Online { 
    background: #29CC97;
    padding: 1% 2% 1%;
  }
  &.Offline {
    
    background: #FEC400;
    
    padding: 1% 2% 1%;
    
  }
  
}
img{
  padding-right: 2%;
}

.icons{display: flex;
  justify-content: flex-end;
}
}
}
}

 
  

