.tableMap {
  
    
  
    .status {
      font-size: 75%;
      border-radius: 6px;
      padding: 0% 10% 0%;
      
      &.Online {
        color: white;
        
        background: #29CC97;
      }
      &.Offline {
        color: white;
        background: #FEC400;
        
      }
    }
    .tableCell{
      
     font-size: 85%;
    
   
    }
   
  }
  
  input{
    border: none;
    outline:none; 
   }