
.infodemandmain{
    display: flex;
    gap: 10%;
  .infodemand{
    display: flex;
    flex-direction: column;
    flex: 1;
      
        
  .headinfodemand{
    display: flex;
    gap: 60%;
    padding-bottom: 1%;
  
    .titleinfodemand{
        font-weight:bold;
        color: black;
        font-size: 122%;
      }
         
    }
    .back{
      display: flex;
      width: 7%;
      padding: 0.4% 3% 0.4% 2%;
      margin-bottom: 2%;
      align-items: center;
      border-radius: 5px;
      color:#fff;
      border: 1px solid rgb(210, 209, 209);
      background-color: rgba(224, 78, 10, 0.6);
      cursor: pointer;
    }
.form{
  display: flex;
  gap: 59.5%;
  .selectinput{
    position: relative;
    display: flex;
    gap: 10%;
  
    .iconselect{
      position: absolute;
      padding: 3% 0% 0% 3%;
    }
    .select{
      padding: 5% 50% 5% 25%;
      background-color: #cdd4d4;
      border-radius: 5px;
      border:none;
      .optionclient{
        font-size: 100%;
        font-weight: bold;
        color: black;
      }
    }
  }
    .buttondemand{
      display: flex;
      margin-bottom: 1%;
      gap: 64%;
    .del{
      display: flex;
      gap: 3%;
      cursor: pointer;
      font-size: 100%;
      color: #fff;
      padding: 10% 20% 10% 2%;
      background: #FF7A7A;
      border-radius: 5px;
      border: none;
      align-items: center;
      
    }
  
    .popdel{
      z-index: 1;
    }
  }
  }
  
    
  
  .tabinfodemand{
  
    border-radius: 10px;
    
    margin-right: 20%;
    
  .radio{
        margin-right:4%;    }
  
  
  
  .quantity{
    padding-left: 30%;
    
  }
 .material-icons{
    cursor: pointer;
    color: rgb(74, 72, 72);
    padding-left: 7%;
 }
  
  }
  
  .addprod{
    margin-top: 2%;
    margin-left:20% ;
    cursor: pointer;
    width: 40%;
    height: 6%;
    font-size: 100%;
    color: #fff;
    padding: 1% 2% 2% 2%;
    background: #747979;
    border-radius: 5px;
    border: none;
    align-items: center;
  }
  .popinvet{
  z-index: 1;
  }
  
  .confirmerPord{
  margin-top: 10%;
    margin-left:10% ;
    cursor: pointer;
    width: 60%;
    height: 7%;
    font-size: 100%;
    color: #fff;
    padding: 1% 2% 2% 2%;
    background: #037D87;
    border-radius: 5px;
    border: none;
    align-items: center;
    
    
  
  
  
  }
  }
  
  }
  
   
    
  
  