.popupalert{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-left:8% ;
    align-items: center;
  
.popup-alert{
    
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(61, 60, 60, 0.47);
    padding: 3%;
    width: 100%;
    max-width: 240px;
    background-color: #FFF;
    border: 2px solid rgb(187, 190, 187);
    text-align: center;
    font-size:130%;
    font-weight: bold;
    color: rgb(111, 110, 110);
    .buttonpopupalert{
        display: flex;
        gap: 22%;
    .close-btn {
        margin-top: 15%;
        font-weight: bold;
        width: 40%;
        padding: 3% 6% 3% 6%;
        border-radius: 5px;
        border: 1px solid rgb(34, 133, 55);
        
       cursor: pointer;
    }
    .btnlog{
        margin-top: 15%;
        font-weight: bold;
        width: 40%;
        padding: 5% 7% 5% 7%;
        border-radius: 5px;
        border: 1px solid rgb(34, 133, 55);
        color: rgb(34, 133, 55);
       cursor: pointer;
    }
}

}


}