
.deliverymain{
  display: flex;
  gap: 2%;

.delivery{
  display: flex;
  flex-direction: column;
  flex: 3;
    
      
.headdelivery{
  display: flex;
  gap: 40%;
  padding-bottom: 1%;
  
.titledelivery{
    display: flex;
    gap: 10%;
    font-weight:bold;
    color: black;
    font-size: 122%;
    input[type=Search]{
      height:30px;
      border: 1px solid rgb(188, 188, 188);
      padding-right: 30%;
      border-radius: 5px;
      background: #c3cad2;
    }
    
      
      .input-icone{
        display: flex;
        position:relative; }
      .input-icone i{
      position:absolute; 
      left: 108%; 
      padding:4px 8px; 
      color:#838481; }
  
      input[type=Search]:hover {
      background: #f2f2f2; }
    
  
    }
    .buttondelivery{
      
      display: flex;
      gap: 30%;
      margin-left: 17%;
    .del{
      display: flex;
      font-size: 100%;
      color: #fff;
      padding: 0.5% 7% 0.5% 3%;
      background: #FF7A7A;
      border-radius: 5px;
      border: none;
      align-items: center;
      cursor: pointer;
    }
    .adddelivery{
      display: flex;
      gap: 5%;
      font-size: 100%;
      color: #fff;
      padding: 5% 10% 5% 10%;
      background: #3d2db9;
      border-radius: 5px;
      border: none;
      align-items: center;
      cursor: pointer;
      .iconfleet{
        padding-bottom: 10%;
      }
      
    
    }
    .popdelivery{
      z-index: 1;
    }
 
}
  
  }

  .tabdelivery{
    border-radius: 10px;
    margin-right: 2%;
    .material-icons{
      color: rgb(74, 72, 72);
      cursor: pointer;
    }
    .popdelivery{
      z-index: 1;
    }
    .radio{
      margin-right: 15%;
    }
  .circle{
    padding-left: 10%;
  }
  .stat{
    padding-left: 7%;
  }
  .reguliere {
   
    border-radius: 4px;
    font-size: 80%;
    font-weight: bold;
    color: white;
    &.Done { 
      background: #29CC97;
      padding: 3% 10% 0% 10%;
      
    }
    &.Incomplete {
      background: #FEC400;
      padding: 3% 3% 0% 3%;
    }
    
  }
  img{
    padding-right: 2%;
  }
  .line{
    display: flex;
    justify-content: flex-end;
    gap: 5%;
}
  }
}
}
