
.deliverymain{
  display: flex;
  gap: 2%;

.delivery{
  display: flex;
  flex-direction: column;
  flex: 3;
    
      
.headdelivery{
  display: flex;
  gap: 40%;
  padding-bottom: 1%;
  
.titledelivery{
    display: flex;
    gap: 10%;
    font-weight:bold;
    color: black;
    font-size: 122%;
    input[type=Search]{
      height:30px;
      border: 1px solid rgb(188, 188, 188);
      padding-right: 30%;
      border-radius: 5px;
      background: #c3cad2;
    }
    
      
      .input-icone{
        display: flex;
        position:relative; }
      .input-icone i{
      position:absolute; 
      left: 108%; 
      padding:4px 8px; 
      color:#838481; }
  
      input[type=Search]:hover {
      background: #f2f2f2; }
    
  
    }
    
  
  }

  .tabdelivery{
    border-radius: 10px;
    margin-right: 2%;
    .material-icons{
    color: black;
    }
    .radio{
      margin-right: 22%;
    }
  .circle{
    padding-left: 22%;
  }
  .stat{
    padding-left: 30%;
  }
  .reguliere {
   
    border-radius: 4px;
    font-size: 80%;
    font-weight: bold;
    color: white;
    &.Done { 
      background: #29CC97;
      padding: 1% 5% 0% 5%;
      
    }
    &.Incomplete {
      background: #FEC400;
      padding: 1% 3% 0% 2%;
    }
    
  }
  img{
    padding-right: 2%;
  }
  .line{
    display: flex;
    justify-content: flex-end;
    gap: 5%;
}
  }
}
}
