body{
  background: #f6f3f3;
}

.home {
  display: flex;


  .homeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    .nav{
      flex-wrap: wrap;
    }
    .body{
      display: flex;
      justify-content: space-between;
    }
    .center{
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
      
    }
    .charts {
      padding: 5px 20px;
      flex-direction: column;
    }



     
   .right 
   {
     display: flex;
     flex-direction: column;
     gap: 1%;
     flex-grow: 1;
     padding: 20px;
    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
     display: flex;
     flex-direction: column;
      background: #fff;
      padding: 3px;
      
      border-radius: 10px;
      
      
      .listTitle {
        display: flex;
        flex-direction: column;
        font-weight:bold;
        color: black;
        margin-bottom: 10px;
        font-size: 90%;
        padding-right: 3% ;
        padding-top: 3%;
        padding-left: 3%;
        .tableCell{
          display: flex;
          justify-content: space-between;
          margin-top: 15px;
        
        }
        span{
          font-size: 64%;
          color: gray;
        }
        .fleettitle{
          display: flex;
          justify-content: space-between;
         
        }
        a{
          text-align:right;
          text-decoration: none;
          font-size: 88%;
          color: rgb(12, 128, 200);
        }
      }
      
    }
    .listContainer2 {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 4px;
      background: #fff;
      border-radius: 10px;
      padding-bottom: 29%;
     
      
     

      
    }
    
  }
  }
}
