.home {
  display: flex;
  background: #e6e9eb;
  gap:2%;
  .side{
    flex-wrap: wrap;
  }
  .homeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .over{
    
      font-size: 143%;
      font-weight:600;
      padding-bottom: 1%;
    }
.body{
  display: flex;
 
justify-content: space-between;
margin-right: 2%;
}
  .leftt
  {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    
    .widgets {
      display: flex;
      gap: 5.2%;
      margin-bottom:3% ;
    }}


    
   .rightt 
   {
     display: flex;
     flex-direction: column;
     gap: 6%;
     flex-grow: 1;
    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
     display: flex;
     flex-direction: column;
      background: #fff;
      padding: 3px;
      
      border-radius: 10px;
      .headTab{
        display: flex;
        flex-direction: column;
        gap: 6%;
      
      .listTitleApp {
        display: flex;
        gap: 60%;
        font-weight:bold;
        color: black;
        margin-bottom: 14px;
        font-size: 90%;
        padding: 4px;
        span{
          font-size: 64%;
          color: gray;
        }
        .listTitle{
          display: flex;
          flex-direction: column;
         
        }
        a{
          text-decoration: none;
          text-align:right;
          font-size: 90%;
          color: rgb(12, 128, 200);
        }
      }
      .tableCell{
        display: flex;
        justify-content: space-between;
        padding: 1% 0% 0% 6%;
        .ajoutapp{
          opacity: 0.8;
          font-size: 80%;
        
        }
        .ajouticon{
          padding-left: 240%;
          cursor: pointer;
        }
        .popfleet{
          z-index: 1;
        }
      }
    }
    }
    .listContainer2 {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 4px;
      background: #fff;
      border-radius: 10px;
      padding-bottom: 8%;
     
      
     

      
    }
    
  }}
  
}
