.storemain{
  display: flex;
.store{
flex: 3;
display: flex;
flex-direction: column;
.storecenter{
  display: flex;
  gap: 2%;
}
 
  .titlemap{
     
    font-weight:bold;
        color: black;
       padding-bottom: 1%;
        font-size: 122%;
        margin-left: 2%;
  }
  
.storeleft{
  
 
flex: 4;
display: flex;
flex-direction: column;
 -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
 box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
margin-left: 2%;
 border-radius: 10px;
background: #fff;


  .title {
    
    color: black;
    font-weight: bold;
    span{
      font-size: 63%;
      opacity: 0.3;
    }
  }

 
  
}
}
.liststore {
flex: 1;
-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
display: flex;
flex-direction: column;
gap: 3%;
background: #fff;

margin-right: 2%;
padding: 1%;
border-radius: 10px;
.storetabHead{
  display: flex;
  flex-direction: column;
.storetab {
  display: flex;
  gap: 50%;
  font-weight:bold;
  color: black;  
  font-size: 90%;
  span{
    font-size: 64%;
    color: gray;
  }
  .listTitlestore{
    display: flex;
    flex-direction: column;
  }
  a{
    
    text-decoration: none;
    font-size: 88%;
    color: rgb(12, 128, 200);
  }
}
}


}
}