.storemain{
  display: flex;
  gap: 2%;
.store{
flex: 3;
display: flex;
flex-direction: column;
.back{
    display: flex;
    width: 7%;
    padding: 0.4% 0% 0.4% 2%;
    margin-bottom: 1%;
    align-items: center;
    border-radius: 5px;
    color:#fff;
    border: 1px solid rgb(210, 209, 209);
    background-color: rgba(224, 78, 10, 0.6);
    cursor: pointer;
    
  
}
.storecenter{
  display: flex;
  gap: 2%;
}
 
  .titlemap{
     
    font-weight:bold;
        color: black;
       padding-bottom: 1%;
        font-size: 122%;
        
  }
  
.storeleft{
  
 
flex: 4;
display: flex;
flex-direction: column;
 -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
 box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
 border-radius: 10px;
background: #fff;
height: 38vw;
padding: 1%;

  .title {
    
    color: black;
    font-weight: bold;
    span{
      font-size: 63%;
      opacity: 0.3;
    }
  }

 
  
}
}
.liststore {
flex: 1;
-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
display: flex;
flex-direction: column;
background: #fff;
margin-right: 2%;
padding: 1%;
border-radius: 10px;

 height: fit-content;
.storetabHead{
  display: flex;
  flex-direction: column;
  
.storetab {
  display: flex;
  gap: 55%;
  font-weight:bold;
  color: black;  
  font-size: 90%;
  
  padding-bottom: 7%;
  span{
    font-size: 64%;
    color: gray;
  }
  .listTitlestore{
    display: flex;
    flex-direction: column;
  }
  a{
    
    text-decoration: none;
    font-size: 88%;
    color: rgb(12, 128, 200);
  }
}
input[type=Search]{
  height:30px;

padding-right: 15%;
border-radius: 5px;
background: #c3cad2;
}

  
.input-icone{
  display: flex;
position:relative; }
.input-icone i{
position:absolute; 
left: 70%; 

padding:4px 8px; 
color:#838481; }

  input[type=Search]:hover {
  background: #f2f2f2; }

.material-icons{
 
 font-size: 120%;
}
}


}
}