
.facturemain{
  display: flex;
  gap: 2%;
.facture{
  display: flex;
  flex-direction: column;
  flex: 3;
    
      

.titlefacture{
  display: flex;
  gap: 2%;
  font-weight:bold;
  color: black;
  font-size: 122%;
    input[type=Search]{
      height:30px;
      border: 1px solid rgb(188, 188, 188);
      padding-right: 30%;
      border-radius: 5px;
      background: #c3cad2;
    }
    
      
      .input-icone{
        display: flex;
        position:relative; }
      .input-icone i{
        position:absolute; 
        left: 108%; 
        padding:4px 8px; 
        color:#838481; }
  
      input[type=Search]:hover {
      background: #f2f2f2; }
    
   .material-icons{
     font-size: 120%;
   }
    }

  
  
    .back{
      display: flex;
      width: 7%;
      margin: 2% 0% 2% 0%;
      padding: 0.4% 3% 0.4% 2%;
      align-items: center;
      border-radius: 5px;
      color:#fff;
      border: 1px solid rgb(210, 209, 209);
      background-color: rgba(224, 78, 10, 0.6);
      cursor: pointer; 
    }
 

.tabfacture{

  border-radius: 10px;
  
  margin-right: 2%;

  .material-icons{
   color:#838481;  ;
  }
  


.radio{
      margin-right:3%;    }



.status {
   
  font-size: 100%;
  font-weight: bold;
 
  &.Done { 
    color: #29CC97;
  }
  &.Incomplete {
    color: #FEC400;

  }
}
}

}

}

 
  

